.card {
  border: 2px solid yellow;
  width: 30%;
  height: 30%;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
}

.fav-button {
  border-bottom: 2px solid yellow;
  height: 15%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.bottom-card {
  height: 85%;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-attr {
}
